<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Camilo Fernandez" content="Gundam">
    <title>Gundam</title>
    <link rel="icon" href="../../assets/img/ejercicio1/bot.svg">
</head>
<body>
    <h1>GUNDAM</h1>

    <a href="../../inicio.html">Home</a>
    <a href="./gunplas.html">Gunplas</a>
    <a href="https://www.nyan.cat/" target="_blank"> xd</a>

    

    <h2>¿Qué es?</h2>

    <p>
    Gundam (ガンダム), o Serie Gundam (ガンダムシリーズ) es una franquicia japonesa 
    de ciencia ficción creada por Yoshiyuki Tomino en los estudios 
    Sunrise.
    </p>

    <p>
    La serie se centra en conflictos bélicos entre diferentes grupos humanos, dichos 
    conflictos se llevan acabo luchando con armaduras llamadas Mobile Suits; estos 
    son robots controlados remota o directamente por los humanos. En las series, el Mobile Suits 
    usado por el protagonista es el que recibe el nombre de Gundam.
    
    </p>

    <img name="Yoshiyuki Tomino" src="../../assets/img/ejercicio1/Yoshiyuki-Tomino-main_1000x600.jpg" width="50%">

    <h2>Anime</h2>

    <h3>Primera Aparición</h3>
    <p>
    La primera serie fue estrenada el 7 de abril de 1979, y fue llamada Mobile
    Suits Gundam. Esta revoluciono el genero Mecha en Japon, esto ya que mostraba 
    un conflicto bélico humano haciendo usos de robots de guerra.
    </p>

    <img name="g1" src="../../assets/img/ejercicio1/g1.jpg" width="50%">

    <h3>Más reciente aparición</h3>
    <p>
    "Mobile Suit Gundam: The Witch from Mercury" es la ultima serie publicada de esta 
    franquicia. Esta es la primera producción principal de esta serie en los ultimos 7 años, 
    los generos tratados en esta obra son principalmente Mecha y Yuri, ademas, es la primera historias
    que presenta un personaje principal femenino.<br><br>
    </p>

    <img name="gu" src="../../assets/img/ejercicio1/gu.jpg" width="50%">


    <h2>Impacto</h2>

    <p>
    La popularidads del anime ha generado millones en ingresos, lo cual ha generado 
    que se publiquen gran cantidad de OVAs, películas, manga, series de televisión, novelas,
    videojuegos, modelos a escala, música, juguetes, ropa, comida, etc.
    </p>

    <p>
    El argumento usado en su primera aparición, se ha replicado en diferentes secuelas, precuelas, historias
    paralelas, entre otras cosas.<br><br> 
    </p>    

    <p>
    Tal es la popularidad de la franquicia que se ha convertido en uno de los
    mayores iconos culturales de Japon.<br><br>
    </p>

    <p>
    Para el 2008, esta franquicia ya había llegado a costar 50 mil millones de Yen,
    y cuenta con el 90% del mercado de maquetas.
    </p>


    
</body>
</html>