<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Camilo Fernandez" content="Gunplas">
    <title>Gundam info</title>
    <link rel="icon" href="../../assets/img/ejercicio1/bot.svg">
</head>
<body>
    <h1>GUNPLAS</h1>

    <a href="../../inicio.html">Home</a>
    <a href="./gundam.html">Gundam</a>
    <a href="https://www.nyan.cat/" target="_blank"> xd</a>

    <h2>¿Qué es?</h2>

    <p>
    Los Gunplas o Modelos Gundam, son una serie de figuras plasticas producidas 
    por Bandai. Estas reproducen a escala los robots, vehiculos y personajes de 
    la serie Gundam.
    </p>

    <p>
    Estos modelos se popularizaron entre los fanticos del anime y del modelismo. Su
    popularidad aumento en la epoca de los 1990 en países asiaticos, y en todo el mundo
    en los años 2000 gracias a la comercialización del manga y series de televisión.
    </p>

    <p>
    El termino de Gunplas nace de "Gundam Plastic Model", este hace referencia a la acción de armar 
    los modelos mas que delmodelo en si. 
    </p>

    <img name="Gunplas" src="../../assets/img/ejercicio1/gunplas.JPG" width="50%">

    <h2>Escalas</h2>

    <p>
    Los modelos Gundam estan clasificados en escalas y grados, los principales son los 
    siguientes:
    </p>

    <ul>
        <li>High Grade(HG):  Primera serie de calidad superior, con escala 1/144 </li>
        <li>Master Grade(MG):  Calidad superior al HG con una mecanica
            interna y una escala de 1/100 </li>
        <li>Perfect Grade(PG):  Gama técnica avanzada con una escala de 1/60</li>
        <li>Mega Size(MS):  Modelo de calidad superior con una escala de 1/48 </li>
        <li>Real Grade(RG): Modelo con calidad similar a los MG, pero con la escala 
            1/144 de los HG </li>
    </ul>

    <h3>Ejemplos</h3>

    <h4>Gundam HG Aerial</h4>

    <img name="g1" src="../../assets/img/ejercicio1/ga.jpg" width="20%">

    <h4>Gundam MG Barbatos</h4>

    <img name="g2" src="../../assets/img/ejercicio1/gb.jpg" width="20%">

    <h4>Gundam PG Unicorn</h4>

    <img name="g3" src="../../assets/img/ejercicio1/gun.jpg" width="20%">


    <h3>Gundam escala 1:1</h3>

    <p>
        El 19 de diciembre de 2020 se abrio al publico en Tokyo Japon un modelo del Gundam RX-78F00 de escala
        1:1, este llega a medir casi 20 metros de altura y pesa 25 toneladas. Dicho modelo es articulable y es capaz de realizar movimientos
        basicos. Al rededor del robot hay una plataforma de andamios desde la cual es posible ver el modelo más de cerca.
    </p>

    <p>
        El modelo cuenta con niebla artificial y música para darle dramatismo a los movimientos del robot, el cual se mueve y cambia de pose cada media
        hora, ademas, cuenta con iluminación para las actuaciones nocturnas. 

    </p>

    <a href="https://www.xataka.com/robotica-e-ia/gundam-japones-a-tamano-real-esta-listo-capaz-moverse-se-podra-visitar-proximo-19-diciembre" target="_blank"><img name="gr" src="../../assets/img/ejercicio1/gr.jpg" width="50%"></a>

    <h2>Productos</h2>

    <table border="3">
        <tr>
            <th><i>Foto</i></th>
            <th><i>Nombre</i></th>
            <th><i>Precio</i></th>
        </tr>
        <tr>
            <td><img name="g1" src="../../assets/img/ejercicio1/ga.jpg" width="50px"></td>
            <td>Gundam HG Aerial</td>
            <td>$15</td>
        </tr>

        <tr>
            <td><img name="g2" src="../../assets/img/ejercicio1/gb.jpg" width="50%"></td>
            <td>Gundam MG Barbatos</td>
            <td>$30</td>
        </tr>

        <tr>
            <td><img name="g3" src="../../assets/img/ejercicio1/gun.jpg" width="50%"></td>
            <td>Gundam PG Unicorn</td>
            <td>$50</td>
        </tr>
    </table>
</body>
</html>