<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Camilo Fernandez" content="Cajas">
    <title>Cajas</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles_cajas.css">
</head>
<body>
    <a href="../inicio.html">Inicio</a>

    <h2>Tacticamente</h2>

    <h2 id="tituloTactico">Tactico 2</h2>

    <p class="primero_es_como_p_pero_tactico">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero recusandae reiciendis, unde autem quos 
        laborum! Laborum nostrum commodi voluptatibus sequi nesciunt. Quo saepe placeat libero voluptates fugit laboriosam, 
        aliquid nemo?
    </p>
    <p class="segundo_joder_y_encima_tactico">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis quam dolores cum ipsa doloribus pariatur culpa,
         praesentium, quo saepe libero cupiditate aperiam, voluptate eum et architecto omnis rerum repudiandae mollitia!
    </p>
    <p class="tercero_este_no_es_tactico">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus corporis consectetur earum error esse! 
        Fugiat, alias repellendus. Ullam alias accusamus id illum provident maiores ab at asperiores. Et, distinctio asperiores?
    </p>

    <p>
        (S.VI a.C.) Escritor griego. Uno de los más antiguos géneros de la literatura universal 
        es la fábula, un tipo de relato breve protagonizado por animales personificados cuya finalidad 
        didáctica se explicita en una moraleja final. La Grecia clásica atribuyó a Esopo la invención 
        de este género, igual que asignó a Homero la paternidad de la épica
        <br>
        <br>
        Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además 
        la perfecta antítesis entre las dos figuras: <span class="homero">Homero como cantor de las gestas de los héroes</span>, 
        Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. 
        En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.
    </p>
    
</body>
</html>