


h1 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
}

h2 {
    text-align: right;
    color: blue;
}

a {
    text-decoration: none;
    color: black;
}

td {
    text-align: left;
    vertical-align: bottom;
    width: 400px;
}

h5 {
    font-weight: normal;
}