<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Ejercicios Funciones de Texto</title>
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <script src="../JS/ejercicio1.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="ejercicios col-md-2 min-vh-100">

                <img src="" class="img-fluid">

                <div class="d-grid gap-2">
                    <a class="btn btn-primary" href="ejercicio1.html" role="button">Ejercicio 1</a>
                    <a class="btn btn-warning" href="ejercicio2.html" role="button">Ejercicio 2</a>
                    <a class="btn btn-primary" href="ejercicio3.html" role="button">Ejercicio 3</a>
                    <a class="btn btn-warning" href="ejercicio4.html" role="button">Ejercicio 4</a>
                </div>
            </div>

            <div class="resultado col-md-10">
                <h1>Funciones de Texto</h1>
                <div class="card" style="width: 18rem; margin: 100px auto;">
                    <div class="card-body">


                        <form>
                            <div class="mb-3">
                                <label for="palabra" class="form-label">Ingresa una palabra</label>
                                <input type="text" class="form-control" id="palabra">

                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit" onclick="longitud()">Longitud</button>
                                <button class="btn btn-primary" type="submit" onclick="mayusculas()">Mayúsculas</button>
                                <button class="btn btn-primary" type="submit" onclick="minusculas()">Minúsculas</button>
                                <button class="btn btn-primary" type="submit" onclick="primercar()">Primer
                                    Caracter</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>





    </div>
</body>

</html>